@tailwind base;

@tailwind components;

@tailwind utilities;

.header {
  padding-bottom: 10px;
}

.header:hover {
  border-bottom: 2px solid white;
}

.a-header {
  border-bottom: 2px solid white;
}
